@import url(font.css);
body {
    font-family: YekanBakhRegular !important;
    margin: 0;
}
.YekanBakhBold{
    font-family: YekanBakhBold!important ;
}
.YekanBakhRegular{
    font-family: YekanBakhRegular!important ;
}
.YekanBakhlight{
    font-family: YekanBakhlight!important ;
}


 